body {
  overflow: hidden;
}
.App {
  text-align: center;
}

.iframe-info{
  width: 270%;
  height: 1200px;
  transform: scale(.25);
  position: relative;
  top: -445px;
  left: -543px;
  border: 6px solid #ccc;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-color: #add500;
  border: 0.1rem solid #add500;
}
input[type='text']:focus {  
  border: 0.1rem solid #add500;
}

pre {
  border-left: 0.3rem solid #add500;
}
